@media (max-width: 351px) {
    .logo {
        font-size: var(--font-size-32_2rem);
    }
    .offcanvas-header .btn-close {
        position: relative;
        padding: var(--spacing-8_0-5) 0;
        top: 0.2em;
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        margin-bottom: 0.15em;
        box-shadow: 0 0 0.5rem 3px rgba(0, 0, 0, 0.8);
        height: 1.33em;
        width: 1.85em;
        right: var(--spacing-8_0-5);
        opacity: 1;
        background-color: #f2f4f7;
    }

    .offcanvas.offcanvas-end {
        border-left: 0;
        right: 0;
        height: 75vh;
    }
}

@media (max-width: 331px) {
    .logo {
        font-size: var(--font-size-30_1-875);
    }
    .offcanvas-header .btn-close {
        position: relative;
        padding: var(--spacing-8_0-5) 0;
        top: 0.2em;
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        margin-bottom: 0.1em;
        box-shadow: 0 0 0.5rem 3px rgba(0, 0, 0, 0.8);
        height: 1.25em;
        width: 1.9em;
        right: var(--spacing-8_0-5);
        opacity: 1;
        background-color: #f2f4f7;
    }

    .offcanvas.offcanvas-end {
        border-left: 0;
        right: 0;
        height: 75vh;
    }
}

@media (min-width: 767px) {
    :root {
        /* font-size: 16px; */
        font-size: 22px;
    }
    /* .aclaracion-classes {
        left: 0.4rem;
    } */
    body {
        max-width: 960px;
    }

    .btn-close {
        width: 2em;
        height: 1.6em !important;
        padding: 0.2em 0.2em;
    }

    .card__svg--reset:hover {
        fill: #ff3366;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 4px #ff3366;
    }

    .card__title {
        /* font-size: 2rem; */
    }

    .card-header {
        height: 100%;
    }

    .card-canastas-1 {
        margin-bottom: 1.25rem;
        width: 49%;
    }

    .card-canastas-2 {
        margin-bottom: 1.25rem;
        width: 49%;
        margin-top: 0;
    }

    .card-canastas-3 {
        margin-bottom: 0rem;
        width: 49%;
    }

    .card-canastas-4 {
        margin-bottom: 0rem;
        width: 49%;
    }

    .card-classes {
        width: 49%;
        height: auto;
        margin-bottom: 1.25rem;
        justify-content: flex-start;
    }

    .card-compare {
        margin-bottom: 1.25rem;
        width: 49%;
    }

    .card-rent-in {
        width: 97.5%;
    }

    .card__svg--reset {
        top: 0rem;
    }

    .card-vivienda__txt,
    .card-family-txt {
        /* font-size: 1.5rem; */
    }

    .card-rent-in,
    .form__select-gender,
    .form__select-age,
    .card__select-rent,
    .rent_in_past {
        /* font-size: 1.3rem; */
    }

    header {
        margin-bottom: 1.25rem;
    }

    .icon-svg-add:hover {
        fill: #ff5500;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 4px #ff5500;
    }

    .income__input {
        /* font-size: 1.3rem; */
    }

    .index-container {
        margin-bottom: 1.25rem;
    }

    .index-data-txt {
        /* font-size: 1.3rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .form__select-age {
        /* margin-left: 0.7rem; */
    }

    .form-age--option:enabled,
    .form-gender--option:enabled,
    .card-rent--option:enabled {
        /* font-size: 1.5rem; */
    }

    .logo {
        /* font-size: var(--font-size-48_3rem); */
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .offcanvas.offcanvas-end {
        top: 2.6em;
        border-left: 0;
        right: calc(50vw - 485px);
        width: 60vh;
        height: 75vh;
    }

    .offcanvas-header .btn-close {
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        height: 5rem;
    }

    .table-classes--txt,
    .card-compare__title {
        /* font-size: 1.5rem; */
    }

    .table-canastas,
    .table-canastas-head,
    .table-canastas-header {
        /* font-size: 1.3rem; */
    }

    .table-canastas {
        width: 98%;
    }

    .table-classes-alta-min-info,
    .table-classes-alta-max-info,
    .table-classes-info {
        font-size: 0.8rem;
    }

    .tooltip {
        font-size: 1.25rem;
        max-width: 400px;
    }

    #canasta-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media ((min-width: 600px) and (max-width: 767px)) {
    body {
        max-width: 600px;
    }
    .offcanvas.offcanvas-end {
        top: 1.8em;
        right: calc(50vw - 305px);
        border-left: 0;
        height: 75vh;
    }
}

@media ((min-width: 767px) and (max-width: 960px)) {
    .offcanvas.offcanvas-end {
        top: 2.4em;
        right: 0;
        border-left: 0;
        width: 60vh;
        height: 75vh;
    }
}

@media ((min-width: 961px)) {
    body {
        max-width: 960px;
    }
    .offcanvas.offcanvas-end {
        top: 2.4em;
        right: calc(50vw - 485px);
        border-left: 0;
        width: 600px;
        height: 75vh;
    }
}
