@media (max-width: 351px) {
    .logo {
        font-size: var(--font-size-32_2rem);
    }
    .offcanvas-header .btn-close {
        position: relative;
        padding: var(--spacing-8_0-5) 0;
        margin-top: -4px;
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        margin-bottom: -5px;
        box-shadow: 0 0 0.5rem 2px rgba(0, 0, 0, 0.8);
        height: 56px;
        right: var(--spacing-8_0-5);
        opacity: 1;
        background-color: #f2f4f7;
    }
}

@media (max-width: 331px) {
    .logo {
        font-size: var(--font-size-30_1-875);
    }
    .offcanvas-header .btn-close {
        position: relative;
        padding: var(--spacing-8_0-5) 0;
        margin-top: -2.5px;
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        margin-bottom: -5px;
        box-shadow: 0 0 0.5rem 2px rgba(0, 0, 0, 0.8);
        height: 52px;

        right: var(--spacing-8_0-5);
        opacity: 1;
        background-color: #f2f4f7;
    }
}

@media (min-width: 767px) {
    :root {
        font-size: 22px;
    }
    .aclaracion-classes {
        left: 0.1rem;
    }
    body {
        max-width: 960px;
    }

    .card__svg--reset:hover {
        fill: #ff3366;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 4px #ff3366;
    }

    .card__title {
        /* font-size: 2rem; */
    }

    .card-canastas-1 {
        margin-bottom: 1.5rem;
        width: 49%;
    }

    .card-canastas-2 {
        margin-bottom: 1.5rem;
        width: 49%;
        margin-top: 0;
    }

    .card-canastas-3 {
        margin-bottom: 0.5rem;
        width: 49%;
    }

    .card-canastas-4 {
        margin-bottom: 0.5rem;
        width: 49%;
    }

    .card-classes {
        width: 49%;
        height: auto;
        margin-bottom: 1.5rem;
        justify-content: flex-start;
    }

    .card-compare {
        margin-bottom: 1.5rem;
        width: 49%;
    }

    .card-vivienda__txt,
    .form-family--txt {
        /* font-size: 1.5rem; */
    }

    .card-rent-in,
    .form__select-gender,
    .form__select-age,
    .card__select-rent,
    .rent_in_past {
        /* font-size: 1.3rem; */
    }

    header {
        margin-bottom: 1.5rem;
    }

    .icon-svg-add:hover {
        fill: #ff5500;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 0px 0px 10px 4px #ff5500;
    }

    .income__input {
        /* font-size: 1.3rem; */
    }

    .index-container {
        margin-bottom: 1.5rem;
    }

    .index-data-cba {
        /* font-size: 1.3rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .index-data-cbt {
        /* font-size: 1.3rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .index-data-txt {
        /* font-size: 1.3rem; */
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    .form__select-age {
        margin-left: 0.18rem;
    }

    .form-age--option:enabled,
    .form-gender--option:enabled,
    .card-rent--option:enabled {
        /* font-size: 1.5rem; */
    }

    .logo {
        font-size: var(--font-size-48_3rem);
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .offcanvas.offcanvas-end {
        right: calc(50vw - 310px);
    }

    .offcanvas.offcanvas-end {
        right: 0.2rem;
        top: 3.25rem;
        height: 40vh;
    }

    .offcanvas-header .btn-close {
        margin-right: calc(-1.1 * var(--bs-offcanvas-padding-x));
        height: 5rem;
    }

    .table-classes--txt,
    .card-compare__title {
        /* font-size: 1.5rem; */
    }

    .table-canastas,
    .table-canastas-head,
    .table-canastas-header {
        /* font-size: 1.3rem; */
    }

    .tooltip .tooltip-inner {
        font-size: 1.5rem;
        max-width: 400px;
    }

    #canasta-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
